.rooms1{
width: 80%;
margin-top: 0%;
  text-align: center;
  margin-left: 10%;
}

.card-deck{
margin-top: 2%;
display: inline-block;

}

.room-title{
text-align: center;

}

.carousel{
margin-top: -3%;

}

.div-precio{


}
