 

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 animated fadeInDown">More than a hotel</h1>
        <p class="lead">Justo dis nisl taciti vulputate congue tristique primis ac lacus, porttitor mollis montes augue senectus quisque hac ligula quam, sed nunc nisi vivamus magnis enim sodales mattis. Dignissim mus aenean mi platea viverra conubia habitant aliquet ad, vulputate vivamus egestas duis augue quisque fermentum dictum, potenti natoque hac magna quam hendrerit nibh pellentesque. Lacinia libero condimentum gravida blandit commodo vel ridiculus mattis neque posuere odio sollicitudin nibh proin, sodales nascetur bibendum malesuada senectus pharetra porttitor hac ultrices morbi dignissim erat varius.</p>
      </div>
    </div>




    <div class="d-flex bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <div class="flex1 d-flex flex-column bd-highlight mb-3">
        <div class="cont1 p-2 bd-highlight"><h3>Our hotel</h3><p>Justo dis nisl taciti vulputate congue tristique primis ac lacus, porttitor mollis montes augue senectus quisque hac ligula quam, sed nunc nisi vivamus magnis enim sodales mattis. Dignissim mus aenean mi platea viverra conubia habitant aliquet ad, vulputate vivamus egestas duis augue quisque fermentum dictum, potenti natoque hac magna quam hendrerit nibh pellentesque. Lacinia libero condimentum gravida blandit commodo vel ridiculus mattis neque posuere odio sollicitudin nibh proin, sodales nascetur bibendum malesuada senectus pharetra porttitor hac ultrices morbi dignissim erat varius.</p></div>
        <div class="p-2 bd-highlight"><img src="airport.jpg" class="d-block w-100" alt="..."></div>
        <div class="p-2 bd-highlight"><h3>Our service</h3><p>Justo dis nisl taciti vulputate congue tristique primis ac lacus, porttitor mollis montes augue senectus quisque hac ligula quam, sed nunc nisi vivamus magnis enim sodales mattis. Dignissim mus aenean mi platea viverra conubia habitant aliquet ad, vulputate vivamus egestas duis augue quisque fermentum dictum, potenti natoque hac magna quam hendrerit nibh pellentesque. Lacinia libero condimentum gravida blandit commodo vel ridiculus mattis neque posuere odio sollicitudin nibh proin, sodales nascetur bibendum malesuada senectus pharetra porttitor hac ultrices morbi dignissim erat varius.</p></div>
        <div class="p-2 bd-highlight"><img src="bed.jpg" class="d-block w-100" alt="..."></div>
      </div>
    </div>
      <div class="p-2 bd-highlight">  <div class="flex1 d-flex flex-column bd-highlight mb-3">
        <div class="cont1 p-2 bd-highlight">
          <h3>Our hotel</h3><p>Justo dis nisl taciti vulputate congue tristique primis ac lacus, porttitor mollis montes augue senectus quisque hac ligula quam, sed nunc nisi vivamus magnis enim sodales mattis. Dignissim mus aenean mi platea viverra conubia habitant aliquet ad, vulputate vivamus egestas duis augue quisque fermentum dictum, potenti natoque hac magna quam hendrerit nibh pellentesque. Lacinia libero condimentum gravida blandit commodo vel ridiculus mattis neque posuere odio sollicitudin nibh proin, sodales nascetur bibendum malesuada senectus pharetra porttitor hac ultrices morbi dignissim erat varius.</p></div>
        <div class="p-2 bd-highlight"><img src="build.jpg" class="d-block w-100" alt="..."></div>
        <div class="p-2 bd-highlight"><h3>Our service</h3><p>Justo dis nisl taciti vulputate congue tristique primis ac lacus, porttitor mollis montes augue senectus quisque hac ligula quam, sed nunc nisi vivamus magnis enim sodales mattis. Dignissim mus aenean mi platea viverra conubia habitant aliquet ad, vulputate vivamus egestas duis augue quisque fermentum dictum, potenti natoque hac magna quam hendrerit nibh pellentesque. Lacinia libero condimentum gravida blandit commodo vel ridiculus mattis neque posuere odio sollicitudin nibh proin, sodales nascetur bibendum malesuada senectus pharetra porttitor hac ultrices morbi dignissim erat varius.</p></div>
        <div class="p-2 bd-highlight"><img src="out.jpg" class="d-block w-100" alt="..."></div>
      </div>
    </div>

    </div>
