<link rel="stylesheet" href="contact.css">
<img src="cnn.jpg" class="img-fluid" alt="Responsive image"></img>
  <h3 class="title3 display-4 animated fadeInDown">Contact us</h3>


<div class="contacto">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="" class="form-control" id="" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="" class="form-control" id="" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Phone</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="" required>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Email</label>
    <input type="email" class="form-control" id="inputAddress2" placeholder="" required>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Your question</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="" required>
  </div>

<button class="botonform btn btn-primary" type="submit">Submit form</button>
</form>
<div class="map">
  <h4>Location</h4>
  <ion-icon name="location" size='large'></ion-icon><h6>Nowhere 562</h6>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1556.5041724427451!2d-62.26671559169152!3d-38.71761739489968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95edbcb27e1b6857%3A0xa98e811aa0dc27de!2sBah%C3%ADa%20Blanca%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1586565971233!5m2!1ses!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
</div>
