<link rel="stylesheet" href="animate.css">




<div class="contenedor">
<div class="contenedor2">
<h2 class="title animated fadeInDown ">Rest, recharge, enjoy</h2>
<p class="parrafo animated fadeInDown">The best service at your disposal.</p>
</div>
<img src="fondo2.jpg" class="img-fluid" alt="Responsive image"></img>
</div>



<div class="info2">
<img src="logo2.png" class="imageninfo img-fluid" alt="Responsive image"></img>
<div class="div-info">
<h3>H&H Hotel</h3>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
</div>
</div>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


<div class="contenedor3"> <!--servicios-->
<h2 class="">The hotel provides plenty of features<br/>for you to have the best experience possible.</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card animated zoomIn" style="width: 20rem;">
        <img src="cama.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rooms</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/rooms" class="card-link">+Info</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card animated zoomIn" style="width: 20rem;">
        <img src="spa2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Spa</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/spa" class="card-link">+Info</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card animated zoomIn" style="width: 20rem;">
        <img src="rest.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Restaurant</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/restaurant" class="card-link">+Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
