<link rel="stylesheet" href="recreation.css">
<div class="rec-title">
<h1 class="display-4 animated fadeInDown">Recreation</h1>
<h6>Hotel h & h offers a huge number of recreational activities to make<br> your stay as pleasant and enjoyable as possible.<br> Among the activities we offer are:
<br>
<br>
<ion-icon name="checkmark"></ion-icon>Bike rides <br><br>
<ion-icon name="checkmark"></ion-icon>Horseback riding <br><br>
<ion-icon name="checkmark"></ion-icon>Night parties <br><br>
<ion-icon name="checkmark"></ion-icon>Trekking <br><br>
<ion-icon name="checkmark"></ion-icon>Climb <br><br>
<ion-icon name="checkmark"></ion-icon>Walks<br><br></h6>
</div>

<div class="div-activities">
<div class="card mb-3">
  <img src="bike.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bike rides</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="horse.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Horseback riding</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="people.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Night parties</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="mountain.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Trekking</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="climb.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Climb</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="walk.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Walks</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</div>
